body{
    background-color: gray;
    overflow: hidden;
}

.back{
    position: fixed;
    right: 0;
    margin: 1vh;
}

#container{
    overflow: hidden;
}


#title, #snail, #impossible, #heart, #plumbing, #unfortunate, #slides{
    min-height: 90vh;
    padding: 5vh;
    overflow: hidden; 
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

.titleh1{
    font-size: 15vh;
    text-align: center;
    position: inherit;
    margin-top: 35vh;
    color: white;
    animation: fadein 3s;
}

#snail img{
    position: relative;
}

#snail .toilet{
    animation: slide 10s infinite;
    margin-top: 10vh;
    left: 100vw;
}

.snail {  /*TO-DO: made text fade in slower*/
    animation: fadein 5s;
    font-size: 3vh;
}



.impossible, .loved {
    font-size: 10vh;
    animation: fadein 5s forwards;
    opacity: 0;
}

.loved {
    animation-delay: 2s; /*TO-DO: does not work*/
    position: relative;
    margin-top: 10vw;
    margin-left: 20vw;
    color: white;
    background-color: black;
}

.heart, .mention {
    font-size: 5vh;
    animation: fadein 5s forwards;
    opacity: 0;
    position: relative;
    margin-top: 10vh;
}

.mention {
    animation-delay: 3s;
    margin-left: 60vw;
}

.heart-img {
    margin: 10vh 30vw;
    animation: beat 2s infinite, fadein 4s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes beat {
    0% {transform: scale(1)}
    30% {transform: scale(1.2)}
    60% {transform: scale(1.1)}
    90% {transform: scale(1.2)}
}

.plumbing {
    font-size: 4vh;
}

.toilet2{
    animation: slideout 10s forwards;
    margin-top: 10vh;
    left: 10vw;
}

@keyframes slideout{
    from {left: 10vw;}
    to {left: -200vw;}
}

a{
    text-decoration: none;
    color: black;
}

a:active{
    color: pink;
}

@keyframes slide{
    from{left: 100vw}
    to {left: 0vw}
}

