body{
    background-color: gray;
    overflow: hidden;
}

.back{
    position: fixed;
    right: 0;
    margin: 1vh;
}

#container{
    overflow: hidden;
}


#title, #snail, #impossible, #heart, #plumbing, #unfortunate, #slides{
    min-height: 90vh;
    padding: 5vh;
    overflow: hidden; 
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

.titleh1{
    font-size: 15vh;
    text-align: center;
    position: inherit;
    margin-top: 35vh;
    color: white;
    animation: fadein 3s;
}

#snail img{
    position: relative;
}

#snail .toilet{
    animation: slide 15s forwards;
    margin-top: 10vh;
    left: 100vw;
}

#snail > a{  /*TO-DO: made text fade in slower*/
    animation: fadein 5s forwards;
    font-size: 3vh;
}

.living{
    animation: fadein 5s forwards;
    animation-delay: 3s; /*Does not work*/
}

.demanding{
    animation: fadein 5s forwards;
    animation-delay: 6s;
}

.impossible, .loved {
    font-size: 10vh;
    animation: fadein 5s forwards;
    opacity: 0;
}

.loved {
    animation-delay: 2s; 
    position: relative;
    margin-top: 10vw;
    margin-left: 20vw;
    color: white;
    background-color: black;
}

.heart, .mention {
    font-size: 5vh;
    animation: fadein 5s forwards;
    opacity: 0;
    position: relative;
    margin-top: 10vh;
}

.mention {
    animation-delay: 3s;
    margin-left: 60vw;
}

.heart-img {
    margin: 10vh 30vw;
    animation: beat 2s infinite, fadein 4s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes beat {
    0% {transform: scale(1)}
    30% {transform: scale(1.2)}
    60% {transform: scale(1.1)}
    90% {transform: scale(1.2)}
}

.plumbing {
    font-size: 4vh;
    animation: fadein 3s forwards; 
    margin-left: 20vh;
}

.plumbing-gif {
    animation: fadein 3s infinite;
    margin-left: 20vh;
}

.intimacy, .unfortunate{
    font-size: 4vh;
    animation: fadein 3s forwards;
    opacity: 0;
}

.intimacy {
    margin-left: 10vw;
}

.unfortunate {
    animation: fadein 2s forwards, italicize 7s forwards;
    animation-delay: 2s;
    margin-left: 15vw;

}

@keyframes italicize{
    from {font-style: initial;}
    to {font-style: italic; }
}

.word {
    animation: textbeat 1s infinite;
}

@keyframes textbeat{
    0% {font-size: 1em;}
    50% {font-size: 1.2em;}
    100%{font-size: 1em;}
}

.toilet2{
    animation: slideout 20s forwards;
    animation-delay: 1s;
    margin-top: 10vh;
    margin-left: 20vw;
}

.slides{
    font-size: 3vh;
    animation: slideoutRight 20s forwards, fadeout 15s forwards;
    animation-delay: 5s;
}

@keyframes fadeout{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideout{
    from {margin-left: 20vw;}
    to {margin-left: -200vw;}
}

@keyframes slide{
    from{left: 100vw}
    to {left: 20vw}
}

@keyframes slideoutRight{
    from {margin-left: 0vw;}
    to {margin-left: 130vw;}
}

a{
    text-decoration: none;
    color: black;
}

a:active{
    color: pink;
}



